.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    color: white;
    background-color: rgb(30, 12, 192);
    border-radius: 2px solid white;
    cursor: pointer;
    
}